<h1>
  Welcome to {{ (noun && adverb) ? (adverb.charAt(0).toUpperCase() + adverb.slice(1) + ' Running ' + noun.charAt(0).toUpperCase() + noun.slice(1)) : title }}!
</h1>

Noun: <input [(ngModel)]="noun" />

Adverb: <input [(ngModel)]="adverb" />

aNumber: <input type="number" [(ngModel)]="aNumber" />

bNumber: <input type="number" [(ngModel)]="bNumber" />

<p *ngIf="noun && adverb">I can't believe the big, hairy {{noun}} ran so {{adverb}} {{bNumber + aNumber}}!</p>

<router-outlet></router-outlet>

<h1 [ngStyle]="stylesList()">
  Welcome to {{ title }} {{isSpecial}} {{canSave}}!
</h1>

<input type="checkbox" [(ngModel)]="isSpecial"> Special<br>
<input type="checkbox" [(ngModel)]="canSave"> Saved<br>



