<h1>TODO List</h1>
<p>A place to store the things you have to do!</p>
<input [(ngModel)]="searchText" placeholder="Filter your to-dos" class="form-control mb-3">
<ol class="list-group">
  <li *ngFor="let TodoItem of todoItems | filter : searchText; index as i" [ngClass]="TodoItem.completed ? 'complete' : ''" class="list-group-item">{{i+1}}. 
    <button *ngIf="!TodoItem.completed" (click)="complete(TodoItem)" type="button" class="btn btn-sm btn-outline-success mr-2">Complete</button>{{TodoItem.task}}<button type="button" class="float-right close" title="delete task"
    (click)="delete(TodoItem)">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
</ol>
<input #taskName (keyup.enter)="add(taskName.value); taskName.value=''"placeholder="Add your to do" class="form-control mt-3 mb-2">
<button (click)="add(taskName.value); taskName.value=''" type="button" class="btn btn-success btn-block">Add</button>
<div *ngIf="allComplete" class="conf-cont mt-4">
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
</div>